*{
    margin: none;
}



h1{
    
    text-align: center;
    font-size: 40px;
    color:rgb(25, 20, 100) ;
  
}

p{
text-align: center;
font: size 40px;
color: rgb( 236, 152, 16)
 ;
}
body{
    background: linear-gradient(#e66465, #9198e5);
    font-family: Verdana, ;
}
.teste{ 
    color: #c01616;
    color: rgb(100, 200, 50);
}

header{
    background-color: black
    color(red);
    text-align: center;
    height: 100px;
    padding-top: 2%;
}
nav{
    
}