h1{
    text-align: center;
    font-size: 40px;
    color:rgb(224, 217, 206) ;
   
}

p{
text-align: center;
font: size 35px; ;
}
body{
    background-color: rgb(41, 49, 56);
    font-family: Verdana, ;
}